@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #1e1d2b;
    width: max-content;
    height: max-content;
    font-family: 'Poppins', sans-serif;  
    flex-wrap:wrap;
    
}

.Container-header{
    color: #ff702a;
}


.titulo1{
    color: #ff702a;
    font-size: 50px;
    position:absolute;
    top:4%;
    left: 5%;
    margin: 0%;




}
.menu{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 45px;
    float: left;
    position: relative;
    left: 100%;
}

.Titulo2{
    color: #ff702a;
    position: absolute;
    font-size: 100px;
    top:40%;
    left: 13%;
    margin: 0%;
}

.parrafo1{
    color: white;
    position: absolute;
    top: 500px;
    left: 13%;
    font-size: 40px;
    margin: 0%;
}

.parrafo2{
    color: white;
    position: absolute;
    top: 550px;
    left: 13%;
    font-size: 40px;
    margin: 0%;
}

.boton1{
    text-decoration: none;
    color:white;
    position: absolute;
    top:65%;
    left: 13%;
    background-color:#ff702a ;
    padding: 10px;
    font-size: 21px;
}

.imagen1{
    position: absolute;
    left: 61%;
    top: 25%;
    height: 500px;
    width: 500px;

}

.imagen2{
    position: absolute;
    top:100%;
    left: 11%;


}